.NdafileResponse{
    width: 100% !important;
}
.Emp_FormResponse 
{
    /* position: fixed; */
    /* box-sizing: border-box; */
    /* top:25px;
    bottom: 0px;
    left: 0px; */
    width: 100vw;
    /* height: 100vh; */
    /* z-index: 100;
    display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.FormBoxResponse
{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}


.Form_ButtonResponse
{
    display: flex;
    justify-content: space-evenly;
}
.InputFormResponse
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Emp_Form_HeaderResponse
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #8FD6E1;
    color: #03256C;
    padding: 10px;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.Emp_Form_HeaderResponse h2
{
 font-weight: 500;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.EmpSelectResponse{
    height: 40px;
    width: 200px; 
   padding-top: 20px;   
}

.dojResponse{
    margin-top: 50px;
}
.responseDropdown{
    margin: 10 !important;
}
.Emp_columnResponse{
    margin-top: 20px !important;
}
.rowDropdown{
    width: 33% !important;
    margin-left: 10px !important;
}
.rowDropdownSelect{
    width: 100% !important;
    margin-bottom: 10px !important;
}
.firstRow{
    margin-left: 24%;
    margin-right: 24%;
}
.firstLabel{
    margin-left: 20px;
}
.overlapStyle{
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
    height: 36px;
    padding-top: 15px;
    padding-left: 15px;
    position: inherit !important; 
}
.fteCount{
    width: 24%;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
    height: 36px;
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 10px;
    position: inherit !important;
}
.alertMsg{
    color: 'red' !important;
}